@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bg-first: #ffffff;
    --bg-second: #f5f9fc;
    --font-logo-first: #9ca1bf;
    --font-logo-second: #3a4772;
    --font-first: #3a3a3a;
    --font-second: #34bd8a;

}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0px solid blue;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg-color);
    color: var(--font-first);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

/*==================== LAYOUT ====================*/